@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
/* 헤더 */
#header {
    padding-bottom: 200px;
}
.top_hr{
    border: 1px solid rgb(105, 179, 149);
    width: 1535px;
    display: inline-block;
    margin: 70px 200px 0px 200px;
}
/* 전체 */
.container {
    text-align: center;
    font-family: 'Jeju Gothic', sans-serif;
}

/* 타이틀 */
.top {
    font-family: 'Jeju Gothic', sans-serif;
    margin-top: 50px;
    margin-bottom : 20px;
    margin-left:20px;
}

/* 검색창 */
.search {
    position: relative;
    margin : 60px 0px 20px 0px;
}
.search:after {
    content:"";
    clear:both;
    display:table;
}
.search .search_text {
    float: left;
    width: 200px;
    height: 30px;
    padding-left: 15px;
    border-radius: 10px;
    background: white;
    outline: none;
    position: relative;
    transition: .3s linear;
    margin-right: 3px;
    opacity: 0.8;
    border: 2px solid rgb(105, 179, 149);
}
.search input:focus {
    background-color: rgb(246, 253, 241);
    opacity: 1;
}
.search .search_but {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 42px;
    background: rgb(105, 179, 149);
    border:2px solid rgb(105, 179, 149);
    position: relative;
    top: 0px;
    opacity: 0.8;
}
.search .search_but:hover {
    outline:none;
    background :#ECF8E0;
}
.search .search_but:active,
.search .search_but:focus {
    outline:none;
}
.search .search_but:before{
    content: "\f002";
    font-family: FontAwesome;
    color: gray;
}

/* 글작성 버튼 */
.second {
    width: 1550px;
}
.insert {
    float :left;
    box-sizing: border-box;
    margin-left: 30em;
    margin-right: 30px;
}
.insert button {
    background: rgb(105, 179, 149);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color :white;
    font-weight: normal;
    font-size: small;
    font-family: 'Jeju Gothic', sans-serif;
}
.insert button:focus {
    outline:none;
}
.insert button:hover {
    font-size:14px;
}
/* 정렬 */
.sort {
    float:right;
    box-sizing: border-box;
    margin-right: 28.5em;
}
.sort select {
    font-family: 'Jeju Gothic', sans-serif;
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    width: 100px;
    height : 30px;
    color: gray;
}
.sort select:focus,
.sort select:active {
    outline:none;
}
.search .followerSearchBox{
    display: inline-block;
    margin-left: 280px;
}
.search .followerSearchBox input[type="checkbox"] {display: none;}
.search .followerSearchBox input[type="checkbox"] + label {
    display: inline-block;
    width:120px;
    height: 27px;
    border: 2px solid rgb(105, 179, 149);
    cursor: pointer;
    background: none;
    transition: .3s linear;
    outline: none;
    border-radius: 10px;
}
.search .followerSearchBox input[type="checkbox"]:checked + label {
    background: rgb(105, 179, 149);
}
.search .followerSearchBox input[type="checkbox"]:checked + label span{
    color: white;
}
.search .followerSearchBox span {
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 13px;
    color: gray;
    vertical-align: sub;
}
.search .followerSearchBox:after {display:block; clear:both; content:"";}

/* 사용자 이름 */
.profile {
    width: 40%;
    position: relative;
}
.profile .thumbnail-wrapper {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}
.thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 55px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
}
.thumbnail .centered img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.profile .writer {
    position: relative;
    float: left;
    margin: 15px 0px 0px 5px;
    font-size: 19px;
}
.profile .writer a {
    text-decoration: none;
    color: black;
}

/* 게시글 리스트 */
#reviewListDiv {
    margin-top: 95px;
    margin-bottom: 50px;
}
/* 게시글 리스트 */
.review {
    position: relative;
    width: 950px;
    height: auto;
    margin-left: 480px;
    margin-bottom: 50px;
}
/* 게시글 사진 */
.review-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(105, 179, 149);
    border-bottom: 2px solid rgb(105, 179, 149);
}
.review-img img {
    max-height: 100%;
}
/* 게시글 제목, 좋아요, 댓글 아이콘*/
.review-content{
    height: 40px;
    margin-top:10px;
    border-bottom: 2px solid rgb(105, 179, 149);
}
.content-title {
    float: left;
    margin-top:5px;
}
.content-icon{
    float: right;
    margin-left:2px;
    margin-right:2px;
    margin-top:-4px;
}
.content-icon .like-img,
.content-icon .comment-img{
    width:35px;
    height:35px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    outline: none;
}
.content-icon img {
    width:35px;
    height:35px;

}

/* pagination css */
.paginationBut {
    padding:10px 10px 10px 10px;
    background: rgb(105, 179, 149, 0.5) ;
    border-radius: 5px;
}
.paginationBut1 {
    padding:10px 10px 10px 10px;
    background: rgb(105, 179, 149, 0.5) ;
    margin-left: 5px;
    border-radius: 5px;
}
#pagingDiv {
    margin-bottom: 5px;
}
#pagingDiv span {
    font-weight: bold;
}

/* footer */
.footer {
    margin-top: 200px;
}

/*드롭다운*/
.dropdown {
    float: left;
    /*margin: 5px 0px 0px 0px;*/
    width:35px;
    height:35px;
    background-color: transparent;
}
.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: transparent;
}
.dropdown .dropbtn span{
    font-size: 20px;
}
/*.dropdown .dropbtn img{*/
/*    width:30px;*/
/*    height:30px;*/
/*    outline: none;*/
/*    border:none;*/
/*}*/
/*.dropdown .dropbtn img:hover {*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*    border: none;*/
/*    outline: none;*/
/*}*/
.writer .regDate{
    margin: 9px 0px 0px 200px;
    font-size: 12px;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-left:280px;
    background-color:white;
    color:black;
    font-size:12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(105, 179, 149);
    color:white;
}
.dropdown .show {
    display: block;
    z-index: 11;
    margin: -1px 0px 0px 0px;
}