@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 전체 */
.container {
    text-align: center;
    margin: auto;
    font-family: 'Jeju Gothic', sans-serif;
}

/* 타이틀 */
.top {
    font-family: 'Jeju Gothic', sans-serif;
    margin-bottom : 50px;
    margin-left:20px;
}
.second {
    width: 1700px;
    margin-top: 70px;
    margin-left: 600px;
}

/* 사용자 이름 + 제목 + 좋아요 버튼 */
.profile {
    width: 40%;
    position: relative;
}
.profile .thumbnail-wrapper {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom:5px;
}
.thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
}
.thumbnail .centered img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.profile .writer {
    position: relative;
    float : left;
    margin: 20px 0px 0px 5px;
    font-size : 20px;
}
.profile .title {
    position: relative;
    float: left;
    padding: 10px;
    height: 20px;
    margin: 10px 0px 0px 15px;
    border-left : 8px solid rgb(105, 179, 149);
    font-size: 20px;
}
.content-icon{
    float: right;
    margin-top:10px;
}
.content-icon span {
    float: left;
    margin: 15px 0px 0px 20px;
}
.content-icon .like-img{
    width:35px;
    height:35px;
    border: none;
    background-color: transparent;
    margin-right: 10px;
    outline: none;
}

.content-icon img {
    width:35px;
    height:35px;
}

/* 본문 */
.main {
    width: 700px;
    text-align: center;
    margin: 0 auto;
}
.main .content {
    margin-top : 130px;
    height: 700px;
    border-top: 2px solid rgb(105, 179, 149);
    border-bottom: 2px solid rgb(105, 179, 149);
}
/* 댓글 입력 */
.reply {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.reply input {
    width: 550px;
    height: 50px;
    padding-left: 15px;
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 15px;
}
.reply input:hover,
.reply input:focus,
.reply input:active {
    outline: none;
    background-color: rgb(247, 255, 240);
}
.reply .reply-input button {
    width: 80px;
    height : 55px;
    font-size: 18px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.reply button:hover {
    font-size: 20px;
}
.reply button:focus,
.reply button:active {
    outline: none;
}
/* 댓글 리스트 */
.reply-list {
    margin-top : 20px;
    border-top : 1px solid rgb(105, 179, 149);
}
.reply-list .thumbnail-wrapper {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top:20px;
}
.reply-list .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.reply-list .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 40px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.reply-list .reply-thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
}
.reply-list .reply-thumbnail .centered img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.reply-list .writer {
    position: relative;
    float : left;
    margin: 25px 0px 0px 15px;
    font-size : 17px;
}
.reply-list .reply-date {
    position : relative;
    float: left;
    margin: 28px 0px 0px 15px;
    font-size : 12px;
    color: gray;
}
.reply-list .button .update{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float :left;
    margin: 20px 0px 0px 430px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.reply-list .button .delete{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float :left;
    margin: 20px 0px 0px 0px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.reply-list .button button:hover {
    background-color: transparent;
    color : gray;
}
.reply-list .reply-content {
    position : absolute;
    float: left;
    margin: 55px 0px 0px 65px;
    text-align: left;
    border: 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    width: 600px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 대댓글 */
.re-reply {
    margin: 120px 0px 0px 65px;
    float: left;
    position: absolute;
}
.re-reply img {
    width: 30px;
    height: 40px;
    float: left;
}
.re-reply .thumbnail-wrapper {
    float: left;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-top:20px;
}
.re-reply .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.re-reply .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 40px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.re-reply .reply-thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
}
.re-reply .reply-thumbnail .centered img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.re-reply .writer {
    position: relative;
    float : left;
    margin: 25px 0px 0px 15px;
    font-size : 17px;
}
.re-reply .reply-date {
    position : relative;
    float: left;
    margin: 28px 0px 0px 15px;
    font-size : 12px;
    color: gray;
}
.re-reply .button .update{
    width: 40px;
    height : 30px;
    font-size: 13px;
    float: left;
    position: absolute;
    margin: 20px 0px 0px 335px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.re-reply .button .delete{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float: left;
    position: absolute;
    margin: 20px 0px 0px 375px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.re-reply .button button:hover {
    background-color: transparent;
    color : gray;
}
.re-reply .re-reply-content {
    position : absolute;
    margin: 55px 0px 10px 95px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    width: 505px;
    text-align: left;
}
