@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 헤더 */
#header {
    padding-bottom: 200px;
}
.top_hr{
    border: 1px solid rgb(105, 179, 149);
    width: 1535px;
    display: inline-block;
    margin: 70px 200px 0px 200px;
}
/* 전체 */
.container {
    text-align: center;
    margin-top:70px;
    margin-bottom:70px;
    font-family: 'Jeju Gothic', sans-serif;
}

/* 타이틀 */
.top {
    font-family: 'Jeju Gothic', sans-serif;
    margin-bottom: 30px;
    margin-left:20px;
}
.second {
    width: 965px;
    margin-top: 20px;
    margin-left: 550px;
}

/* 사용자 이름 + 제목 + 좋아요 버튼 */
.profile {
    width: 780px;
    position: relative;
}
.info{
    display: inline-block;
    margin-right: 696px;
}
.thumbnail-wrapper {
    float: left;
    width: 37px;
    height: 37px;
    margin-top: 4px;
}
.thumbnail-wrapper .thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.thumbnail-wrapper .thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
}
.thumbnail-wrapper .thumbnail .centered img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.writer {
    float: left;
    margin: 15px 0px 0px 5px;
    font-size: 14px;
}
.profile .title {
    text-align: left;
    padding: 7px;
    /* margin: 7px 0px 0px 550px; */
    height: 23px;
    border-left: 8px solid rgb(105, 179, 149);
    font-size: 16px;
}
.second .profile .title .regDate{
    margin: 8px 0px 0px 10px;
    display: inline-block;
    /* float: left; */
    font-size: 12px;
    font-weight: lighter;
}
.content-icon{
    position:relative;
    float: right;
    margin-top:5px;
    margin-left: 96px;
}
.content-icon span {
    float: left;
    margin: 10px 0px 0px 0px;

}
.content-icon .like-img{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin-right: 20px;
    padding-right:10px;
    outline: none;
}
.content-icon img {
    width:32px;
    height:32px;
}

/* 수정하기 삭제하기 드롭다운*/
.second .profile .title>.dropdown {
    float: right;
    width: 35px;
    height: 35px;
    background-color: transparent;
}
.second .profile .title>.dropdown .dropbtn {
    margin: 3px 0px 0px 190px;
    border: none;
    outline: none;
    background-color: transparent;
}
.second .profile .title>.dropdown .dropbtn img{
    width:30px;
    height:30px;
    outline: none;
    border:none;
}
.second .profile .title>.dropdown .dropbtn img:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
}

.second .profile .title>.dropdown>.dropdown-content {
    display: none;
    position: absolute;
    margin-left:280px;
    background-color:white;
    color:black;
    font-size:12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.second .profile .title>.dropdown>.dropdown-content a {
    float: none;
    text-align: center;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.second .profile .title>.dropdown>.dropdown-content a:hover {
    background-color: rgb(105, 179, 149);
    color:white;
}
.second .profile .title .dropdown .show {
    display: block;
    z-index: 11;
    margin: 3px 0px 0px 144px;
}

/*작성자 드롭다운*/

#dropdown-review {
    background-color: transparent;
}
#dropdown-review .dropbtn {
    outline: none;
    border: none;
    background-color: transparent;
}
#dropdown-review .dropbtn span{
    font-size: 16px;
}
#dropdown-review .dropbtn span:hover {

}

#dropdown-review .dropdown-content {
    display: none;
    position: absolute;
    margin-left:280px;
    background-color:white;
    color:black;
    font-size:12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

#dropdown-review .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

#dropdown-review .dropdown-content a:hover {
    background-color: rgb(105, 179, 149);
    color:white;
}
#dropdown-review .show {
    display: block;
    z-index: 11;
    margin: 5px 0px 0px 0px;
}








/* 본문 */
.main {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.main .content {
    margin-top: 30px;
    margin-bottom:20px;
    height: 900px;
    border-top: 2px solid rgb(105, 179, 149);
    border-bottom: 2px solid rgb(105, 179, 149);
    overflow-x: scroll;
    overflow-y: scroll;
}
.main .content img{
    position: relative;
    width: 90%;
    height: auto;
}
/* 댓글 입력 */
.profile-reply {
    width: 50px;
    position: relative;
    margin-top: 3px;
    margin-left: 10px;
}
.profile-reply .thumbnail-wrapper {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom:5px;
}
.profile-reply .thumbnail-wrapper .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.profile-reply .thumbnail-wrapper .reply-thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
}
.profile-reply .thumbnail-wrapper .reply-thumbnail .centered img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.reply-input {
    width: 800px;
    margin: 0px 0px 0px 550px;
    display: flex;
}
.reply-input input {
    width: 635px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(105, 179, 149);
    border-radius: 5px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 13px;
}
.reply-input input:hover,
.reply-input input:focus,
.reply-input input:active {
    outline: none;
    background-color: rgb(247, 255, 240);
}
.reply-input button {
    width: 60px;
    height: 45px;
    font-size: 17px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: rgb(105, 179, 149);
    border: 2px solid rgb(105, 179, 149);
    border-radius: 5px;
    color: white;
    transition: .35s;
}
.reply-input button:hover {
    font-size: 20px;
}
.reply-input button:focus,
.reply-input button:active {
    outline: none;
}

/*추가했는데 안 먹히네 ㄷㄷ*/
.reply-modify-content {
    margin: 0px 0px 0px 40px;
    width: 760px;
}
.reply-modify-input {
    width: 620px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(105, 179, 149);
    border-radius: 5px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 14px;
    float: left;
    margin: 22px 0px 0px -136px;
}
.reply-modify-input:focus {
    outline: none;
}
.reply-modify-content button{
    float: left;
    width: 39px;
    height: 37px;
    font-size: 12px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: rgb(105, 179, 149);
    border: 2px solid rgb(105, 179, 149);
    border-radius: 5px;
    color: white;
    transition: .35s;
    margin: 22px 0px 0px 2px;
}
.reply-modify-content button:focus {
    outline: none;
}
.reply {
    width: 800px;
    margin: 5px 0px 0px 546px;
}

/* 댓글 리스트 */
.profile-reply-list {
    width: 50px;
    position: relative;
    margin-top: 11px;
    margin-left: 8px;
}
.profile-reply-list .thumbnail-wrapper {
    float: left;
    width: 40px;
    height: 40px;
    margin-bottom:5px;
}
.profile-reply-list .thumbnail-wrapper .reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.profile-reply-list .thumbnail-wrapper .reply-thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
}
.profile-reply-list .thumbnail-wrapper .reply-thumbnail .centered img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
.reply-list {
    margin-top : 20px;
    border-top : 1px solid rgb(105, 179, 149);
    display : flow-root;
}
.reply-list .writer {
    float: left;
    margin: 5px 0px 0px 8px;
    font-size: 13px;
}
.reply-list .reply-date {
    position: relative;
    float: left;
    margin: 6.5px 0px 0px 3px;
    font-size: 8px;
    color: gray;
}
.reply-list .button .update{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float :left;
    margin: 20px 0px 0px 380px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}
.reply-list .button .delete{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float :left;
    margin: 20px 0px 0px 0px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}

.reply-list .button .replyButton{
    width: 40px;
    height : 30px;
    font-size: 13px;
    font-family: 'Jeju Gothic', sans-serif;
    float :left;
    margin: 20px 0px 0px 0px;
    background-color: rgb(105, 179, 149);
    border : 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    color : white;
    transition : .35s;
}

.reply-list .button button:hover {
    background-color: transparent;
    color : gray;
}
.reply-list .reply-content {
    position: relative;
    margin: 34px 0px 0px 57px;
    text-align: left;
    border: 1px solid rgb(105, 179, 149);
    border-radius: 5px;
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all;
    font-size: 14px;
}
/* 댓글 수정/삭제 드롭다운 */
.reply .reply-list .dropdown {
    position: absolute;
    float: right;
    margin: 0px 0px 0px 440px;
    width: 35px;
    height: 35px;
    background-color: transparent;
}
.reply .reply-list .dropdown .dropbtn {
    margin: 3px 0px 0px 320px;
    border: none;
    outline: none;
    background-color: transparent;
}
.reply .reply-list .dropdown .dropbtn img{
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
}
.reply .reply-list .dropdown .dropbtn img:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
}

.reply .reply-list .dropdown-content {
    display: none;
    position: absolute;
    margin-left:280px;
    background-color:white;
    color:black;
    font-size:12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.reply .reply-list .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.reply .reply-list .dropdown-content a:hover {
    background-color: rgb(105, 179, 149);
    color:white;
}
.reply .reply-list .dropdown .show {
    display: block;
    z-index: 11;
    margin: -1px 0px 0px 260px;
}

/* 대댓글 */
.re-reply {
    margin: 4px 0px 0px 50px;
    float: left;
    display: block;
    position: relative;
}
.re-reply img {
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 7px 0px 0px;
}
.profile-re-reply .thumbnail-wrapper {
    float: left;
    width: 40px;
    height: 40px;
    margin: 3px 0px 0px -7px;
}
.profile-re-reply .thumbnail-wrapper .re-reply-thumbnail {
    border : 2px solid rgb(105, 179, 149);
    border-radius: 50px;
    position: relative;
    padding-top : 100%;
    overflow: hidden;
}
.profile-re-reply .thumbnail-wrapper .re-reply-thumbnail .centered {
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    transform: translate(50%,50%);
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
}
.profile-re-reply .thumbnail-wrapper .re-reply-thumbnail .centered img {
    max-height: 100%;
    position: absolute;
    top: 0;
    right : 0;
    left : 0;
    bottom :0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}

.re-reply .writer {
    position: relative;
    float: left;
    margin: 10px 0px 0px 6px;
    font-size: 13px;
}
.re-reply .reply-date {
    position: relative;
    float: left;
    margin: 12px 0px 0px 3px;
    font-size: 8px;
    color: gray;
}
.reply .reply-list .re-reply .dropdown {
    position: absolute;
    float: right;
    margin: 0px 0px 0px 440px;
    width: 35px;
    height: 35px;
    background-color: transparent;
}
.reply .reply-list .re-reply .dropdown .dropbtn {
    margin: 9px 0px 0px 270px;
    border: none;
    outline: none;
}
.reply .reply-list .re-reply .dropdown .dropbtn img{
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
}
.reply .reply-list .re-reply .dropdown .dropbtn img:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
}

.reply .reply-list .re-reply .dropdown-content {
    display: none;
    position: absolute;
    margin-left:280px;
    background-color:white;
    color:black;
    font-size:12px;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.reply .reply-list .re-reply .dropdown-content a {
    float: none;
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.reply .reply-list .re-reply .dropdown-content a:hover {
    background-color: rgb(105, 179, 149);
    color:white;
}
.reply .reply-list .re-reply .dropdown .show {
    margin: -2px 0px 0px 204px;
    display: block;
}

.re-reply .re-reply-content {
    /* position : absolute; */
    margin: 55px 0px 10px 95px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid rgb(105, 179, 149);
    border-radius: 10px;
    width: 505px;
    text-align: left;
}
.re-reply .reply-content {
    position: relative;
    margin: 28px 0px 0px 65px;
    text-align: left;
    border: 1px solid rgb(105, 179, 149);
    border-radius: 5px;
    width: 642px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    word-break: break-all;
    font-size: 14px;
}

/* 대댓글 입력창 */
.re-reply-input {
    width: 730px;
    margin-left: 65px;
}
.re-reply-input input[name="content"] {
    width: 551px;
    height: 31px;
    margin: 5px 0px 0px -9px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(105, 179, 149);
    border-radius: 5px;
    font-family: 'Jeju Gothic', sans-serif;
    font-size: 14px;
    float: left;
}
.re-reply-input button {
    float: left;
    width: 39px;
    height: 37px;
    font-size: 12px;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: rgb(105, 179, 149);
    border: 2px solid rgb(105, 179, 149);
    border-radius: 5px;
    color: white;
    transition: .35s;
    margin: 4px 0px 0px 2px;
}

.reply-content .reply-parent-id a {
    text-decoration: none;
    color: gray;
    padding-right: 3px;
}
/* footer */
.footer {
    margin-top: 200px;
}