@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
	margin:0px;
	padding:0px;
	border:0px;
	max-width:1920px;
}
a{
  text-decoration:none;
}
.none_hr{
  margin-left:200px;
  height: 685px;
  width:1520px;
  border-bottom:2px solid none;
}
/*배경사진*/
.slideshow li img{
	height:900px;
}


/*헤더*/
header{
  border:0px;
  margin-right:30px;
  padding:0px;
}

/*왼쪽 버튼*/
#header_left_but{
  width:450px;
  margin-top: 100px;
  position:relative;
  float:left;
  margin-left:200px;
}
/*야영지 정보 버튼*/
.search_but{
  float:left;
  margin-right:20px;
}
.search_but button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ECF8E0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.search_but button:hover {
  background-color: rgb(105, 179, 149);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*커뮤니티 버튼*/
.community_but button {
  vertical-align:middle;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.community_but button:hover {
  background-color: rgb(105, 179, 149);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*오른쪽 버튼*/
#header_right_but{
  float:right;
  width:450px;
  margin-top: 100px;
  position:relative;
}

/*회원정보 버튼*/
.info_but{
  float:left;
  margin-right:20px;
}
.info_but button {
  vertical-align:middle;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.info_but button:hover {
  background-color: rgb(105, 179, 149);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*로그인 버튼*/
.login_but button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ECF8E0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.login_but button:hover {
  background-color: rgb(105, 179, 149);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
/* 로그아웃 버튼 */
.logout_but button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #ECF8E0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.logout_but button:hover span {
  display: none;
}
.logout_but button:hover,
.logout_but button:hover:before{
  content:"LOGOUT";
  background-color: rgb(105, 179, 149);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/*로고*/
.logo{
  position:absolute;
  margin:35px 0px 0px 780px;
}

/*타이틀*/
.title{
  position:absolute;
  margin:340px 0px 0px 580px;
}
.title h1{
  color:white;
  font-size:45px;
  font-family: 'Jeju Gothic', sans-serif;
}
.title h2{
  color:white;
  margin-top:15px;
  margin-left:100px;
  font-size:30px;
  font-family: 'Jeju Gothic', sans-serif;
}

/*검색창*/
.index_search {
  position:absolute;
  margin:580px 0px 0px 770px;
  
}
.index_search:after {
  content:""; 
  clear:both; 
  display:table
}
.index_search form {
  width: auto;
  float: right;
}
.index_search .index_search_text {
  width: 300px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
  margin-right: 15px;
  opacity: 0.8;
}
.index_search input:focus {
  border: 2px solid rgb(98, 110, 83);
  opacity: 1;
}
.index_search .index_search_but {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  background: #ECF8E0;
  border: none;
  position: absolute;
  top: 0px;
  right: -2;
  opacity: 0.8;
}
.index_search .index_search_but:before{
  content: "\f002";
  font-family: FontAwesome;
  color: gray;
}

/*스크롤 버튼(최신리뷰 바로가기)*/
.auto_scroll{
	margin-top:18px;
	margin-left:875px;
	border:0;
	outline:0;
	background-color:white;
	font-family: 'Jeju Gothic', sans-serif;
}
.test_css {
  padding-top: 30px;
}
.test_css span {
  position: absolute;
  top: 852px;
  left: 930px;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid rgb(105, 179, 149);
  border-bottom: 2px solid rgb(105, 179, 149);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.test_css span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.test_css span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.test_css span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking{
	font-size:40px;
	font-family: 'Roboto', sans-serif;
	color:rgb(105, 179, 149);
}
.blinking:hover{
	color:#000;
}

/*인기리뷰 모아보기*/
.review_content{
	margin-top:90px;
	height:780px;
}
.review_content h1{
	margin-left:705px;
	font-size:70px;
	font-family: 'Roboto', sans-serif;
	color:rgb(105, 179, 149);
}
.review_content h2{
	margin-left:830px;
	font-size:30px;
	font-family: 'Roboto', sans-serif;
	color:#A3D16E;
	margin-bottom:30px;
}
.review_content hr{
  margin-left:200px;
  width:1520px;
  border-bottom:2px solid rgb(105, 179, 149);
  margin-bottom:35px;
}
.review_content .bottom_hr{
  margin-left:200px;
  width:1520px;
  border-bottom:2px solid rgb(105, 179, 149);
  margin-top:30px;
}
.best_review ul{
  margin-left:203px;
  height:420px;
}
.best_review ul li{
  width:260px;
  height:400px;
  margin-right:51px;
  list-style:none;
  float:left;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0px 5px 10px #609367;
}
.best_review ul li .best_img{
  margin: 10px 9px 5px 9px;
  width:240px;
  height:200px;
  
  border: 1px solid black;
  border-radius: 18px;
}
.best_review ul li .best_img img{
  width:240px;
  height:200px;
  border-radius: 18px;
}
.best_review ul li p{
  margin-left:9px;
  font-family: 'Jeju Gothic', sans-serif;
}
.best_review ul li .best_title{
  margin-top:7px;
}
.best_review ul li .best_views{
  width:240px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
/*좋아요 버튼 이벤트*/
.like-but{
	width:15px;
	height:15px;
	margin-right:10px;
	float:right;
	border: none;
    background-color: transparent;
    outline: none;
}
.like-but img{
	width:15px;
	height:15px;
}
.like-but #like_full_img{
	display:none;
}
/*리뷰 내용*/
.best_review ul li .best_content{
  font-family: 'Jeju Gothic', sans-serif;
  font-size:11px;
  margin: 10px 9px 5px 9px;
  resize:none;
  width:240px;
  height:70px;
  text-overflow: ellipsis;
  overflow:hidden;
  outline:0;
  border:0;
}
.best_review ul li .best_id{
  margin:15px 9px 5px 14px;
  font-family: 'Jeju Gothic', sans-serif;
  font-size:12px;
}
.select_community{
  float:right;
  margin-right:20px;
  margin-top:3px;
  font-family: 'Jeju Gothic', sans-serif;
  font-size:9px;
}
.community_link{
  margin-bottom:35px;
  margin-right:200px;
  text-align:right;
  font-family: 'Jeju Gothic', sans-serif;
}

/*footer*/
.footer img{
width:100%;
margin:0px;
padding:0px;
border:0px;
}