@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/* 로그인 */

/* 전체 */
div {
    text-align: center;
    margin: auto;
}

/* 타이틀 */
.top {
    font-family: 'Jeju Gothic', sans-serif;
}

/* 로그인 div */
.login{
    line-height: 1em;
    margin: 50px 0px 0px 0px;
}

.login input{
    width: 200px;
    height: 42px;
    border-radius: 35px;
    padding-left: 15px;
    border: 2px solid rgb(105, 179, 149);
    font-family: 'Roboto', sans-serif;
}
.login input:focus {
    outline :none;
}

/* 로그인 버튼 */
.login button {
    font-family: 'Roboto', sans-serif;
    background: rgb(105, 179, 149);
    border: 2px solid #fff;
    border-radius: 35px;
    padding: 2px;
    cursor: pointer;
    display: block;
    position: relative;
    overflow: hidden;
    transition: all .35s ease-in-out .35s;
    margin: 0 auto;
    width: 220px;
    height:35px;
    text-align: center;
    color :white;
    font-weight: bolder;
}
.login button:hover{
    font-size: medium;
}
.login button:focus{
    outline: none;
}


/* 아이디 비밀번호 찾기 버튼 */
.bottom button {
    font-size: small;
    font-family: 'Jeju Gothic', sans-serif;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgb(105, 179, 149);
    transition : .35s 
}

.bottom button:hover{
    background-color: #fff;
    font-size: medium;
}

.bottom button:focus {
    outline: none;
}
